#root {
   margin: 0;
   max-width: 100%;
   padding: 0;
   background-color: #f6f6f6;
   height: 100vh;
}

.myRow {
   margin-top: 20px !important;
}

.ant-card-body {
   padding: 0 !important;
   padding: 20px 0 !important;
}
